<div class="col-lg-4 col-lg-offset-2">
Enter up to 5 cities to calculate the optimal route.
<%= form_tag packages_path, method: 'post' do %>
	<% @route.each do |package| %>
		<%= fields_for 'packages[]', package do |p| %>
		<% x = 1 %>
		<p>
			<%= p.text_field :address, style: "color:black", placeholder: "City" %>
		</p>
		<% x += 1 %>
		<% end %>
	<% end %>
	<%= submit_tag %>
<% end %>
</div>