<!DOCTYPE html>
<html>
<head>
  <title>Leaflet Quick Start Guide Example</title>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
</head>
<body>
  <div class="col-lg-2 col-centered">
  <h1> Free tracking </h1>
</div>
  <div>
  <div id="map" style="width: 100%; height: 400px"></div>

  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script>
    var map = L.map('map').setView([51.92, 4.48], 14);

    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var LeafIcon = L.Icon.extend({
      options: {
        iconSize:     [40, 40],
        //iconAnchor:   [22, 94],
        //popupAnchor:  [-3, -76]
      }
    });


    L.marker([51.922138277777776, 4.483124222222222]).bindPopup('picture taken at 2016-04-09 01:06:15 +0200 by David').addTo(map);
    L.marker([51.92176394444444, 4.484378555555556]).bindPopup('picture taken at 2016-04-09 01:10:50 +0200 by David').addTo(map);
    L.marker([51.92162, 4.4844522499999995]).bindPopup('picture taken at 2016-04-09 01:11:11 +0200 by David').addTo(map);
    L.marker([51.920145138888884, 4.488259972222222]).bindPopup('picture taken at 2016-04-09 01:16:13 +0200 by David').addTo(map);
    L.marker([51.92009205555556, 4.488264166666667]).bindPopup('picture taken at 2016-04-09 01:16:36 +0200 by David').addTo(map);
    L.marker([51.91682044444445, 4.491165416666667]).bindPopup('picture taken at 2016-04-09 01:21:19 +0200 by David').addTo(map);
    L.marker([51.912328555555554, 4.484453194444444]).bindPopup('picture taken at 2016-04-09 01:28:26 +0200 by David').addTo(map);
    L.marker([51.91230544444444, 4.484380944444444]).bindPopup('picture taken at 2016-04-09 01:28:57 +0200 by David').addTo(map);
    L.marker([51.91238886111111, 4.484202555555555]).bindPopup('picture taken at 2016-04-09 01:29:12 +0200 by David').addTo(map);
    L.marker([51.91569558333333, 4.482100027777778]).bindPopup('picture taken at 2016-04-09 01:33:54 +0200 by David').addTo(map);
    L.marker([51.91601175, 4.482318444444444]).bindPopup('picture taken at 2016-04-09 01:34:24 +0200 by David').addTo(map);
    L.marker([51.91988394444444, 4.480122472222222]).bindPopup('picture taken at 2016-04-09 01:40:46 +0200 by David').addTo(map);

  </script>
</div>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This evening I hacked together a solution for the tracking problem with our constraints (cost, limited data) in mind. The result is completely free, and reliant on GPS satellites (not mobile data).</p>
                </div>
                <div class="col-lg-4">
                    <p>After taking pics around the city with cellular data turned off, I returned home and connected to wifi. The files were then uploaded to Dropbox. To create the map above, I did some automation and stripped the location data and timestamps from the pictures.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Try it yourself [not yet]
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

